<a href="https://colab.research.google.com/github/Sudheer-basha/PYTHON/blob/main/pandas_pd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
data={
    "name":["babu","basha","sudheer","chinni","baba","sara"],
    "age":[20,35,36,25,29,30],
    "department":["IT","HR","IT",np.nan,"HR","SUPPORT"],
    "salary":[25000,35000,25000,24000,65000,np.nan]
}

In [ ]:
data

{'name': ['babu', 'basha', 'sudheer', 'chinni', 'baba', 'sara'],
 'age': [20, 35, 36, 25, 29, 30],
 'department': ['IT', 'HR', 'IT', nan, 'HR', 'SUPPORT'],
 'salary': [25000, 35000, 25000, 24000, 65000, nan]}

In [ ]:
df=pd.DataFrame(data)
df

      name  age department   salary
0     babu   20         IT  25000.0
1    basha   35         HR  35000.0
2  sudheer   36         IT  25000.0
3   chinni   25        NaN  24000.0
4     baba   29         HR  65000.0
5     sara   30    SUPPORT      NaN

In [ ]:
#printing head
df.head(1)

   name  age department   salary
0  babu   20         IT  25000.0

In [ ]:
#printing tail
df.tail(3)

     name  age department   salary
3  chinni   25        NaN  24000.0
4    baba   29         HR  65000.0
5    sara   30    SUPPORT      NaN

In [ ]:
#printing loc and iloc
df.loc[1:3,["name","age"]]

      name  age
1    basha   35
2  sudheer   36
3   chinni   25

In [ ]:
df.iloc[1:3]

      name  age department   salary
1    basha   35         HR  35000.0
2  sudheer   36         IT  25000.0

In [ ]:
df[["age","department"]]

   age department
0   20         IT
1   35         HR
2   36         IT
3   25        NaN
4   29         HR
5   30    SUPPORT

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        6 non-null      object
 1   age         6 non-null      int64
 2   department  5 non-null      object
 3   salary      5 non-null      float64
dtypes: float64(1), int64(1), object(2)
memory usage: 324.0+ bytes

In [ ]:
df.describe()

             age        salary
count   6.000000      5.000000
mean   29.166667  34800.000000
std     6.047038  17469.974242
min    20.000000  24000.000000
25%    26.000000  25000.000000
50%    29.500000  25000.000000
75%    33.750000  35000.000000
max    36.000000  65000.000000

In [ ]:
df["salary"]=df["salary"]+6684
df

      name  age department   salary
0     babu   20         IT  42684.0
1    basha   35         HR  52684.0
2  sudheer   36         IT  42684.0
3   chinni   25        NaN  41684.0
4     baba   29         HR  82684.0
5     sara   30    SUPPORT      NaN

In [ ]:
df.rename(columns={"department":"dept"}, inplace=True)
df.rename(columns={"salary":"new_salary"},inplace=True)
df

      name  age     dept  new_salary
0     babu   20       IT     42684.0
1    basha   35       HR     52684.0
2  sudheer   36       IT     42684.0
3   chinni   25      NaN     41684.0
4     baba   29       HR     82684.0
5     sara   30  SUPPORT         NaN

In [ ]:
df.rename(columns={"name":"NAME"},inplace=True)
df

      NAME  age     dept  new_salary
0     babu   20       IT     42684.0
1    basha   35       HR     52684.0
2  sudheer   36       IT     42684.0
3   chinni   25      NaN     41684.0
4     baba   29       HR     82684.0
5     sara   30  SUPPORT         NaN

In [ ]:
df["dept"].unique()
df["dept"].value_counts()

dept
IT         2
HR         2
SUPPORT    1
Name: count, dtype: int64